* { /* Global settings just for development - delete them ater adding to your own project */
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
body {
  margin: 50px;
  background-color: #111
}
/* HexClock styling */

/* Add a font of your choice - I went with Major Mono Display */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#hexClock {
  z-index: 1;
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
  height: 100%;
  font-family: 'Major Mono Display', monospace;
}

.hexClock__header {
  height: 14px;
  width: 248px;
  border-bottom: 2px solid gray;
  position: relative;
  background: rgb(51,42,68);
background: -moz-linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
background: linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#332a44",endColorstr="#332a44",GradientType=1);
}

.hexClock__header--txt{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 0.73em;
  vertical-align: middle;
}

.hexClock__txt {
  font-family: 'Share Tech Mono', monospace;
  font-size: 10px;
}

.hexClock__txt--app {
  position: absolute;
  left: 0;
  font-size: 10px;
}

.hexClock__txt--ip {
  position: absolute;
  right: 0;
  font-size: 10px;
}

#hexClock__container {
  border-bottom: 2px solid gray;
  z-index: -1;
  width: 248px;
  height: 52px;
  font-family: 'Major Mono Display', monospace;
  background: #111;
  color: #eee;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 0.01s;
  animation-name: textFlicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Flicker effect */
@keyframes textFlicker {
from {
text-shadow: 1px 0 0 #ea36af, -1px 0 0 #75fa69;
}
to {
text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}
}

