* { /* Global settings just for development - delete them ater adding to your own project */
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
body {
  margin: 50px;
  background-color: #111
}
/* HexClock styling */

/* Add a font of your choice - I went with Major Mono Display */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#hexClock {
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Major Mono Display', monospace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.hexClock__header {
  height: 14px;
  width: 248px;
  border-bottom: 2px solid gray;
  position: relative;
  background: rgb(51,42,68);
  background: -moz-linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
  background: linear-gradient(90deg, rgba(51,42,68,1) 0%, rgba(54,45,71,1) 37%, rgba(51,42,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#332a44",endColorstr="#332a44",GradientType=1);
}

.hexClock__txt {
  font-family: 'Share Tech Mono', monospace;
  font-size: 11px;
}

.hexClock__txt--app {
  position: absolute;
  left: 0;
}

.hexClock__txt--ip {
  position: absolute;
  right: 0;
}

#hexClock__container {
  width: 15.5rem;
  height: 3.25rem;
  outline: 1px solid #8FA8C4;
  text-align: center;
  color: #eee;
  animation-duration: 0.01s;
  animation-name: textFlicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
}

/* CRT Flicker effect */
@keyframes textFlicker {
from {
text-shadow: 1px 0 0 #ea36af, -1px 0 0 #75fa69;
}
to {
text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}
}

